body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
  background-color: #E5E5E5;
}

:root{
  --purple-gradient: linear-gradient(to right, #67227F, #A626D2);
}


.main-container{
  width: 700px;
  margin: 10px auto;
}

/* Header */
.header-container{
  background: var(--purple-gradient);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}
.header-title-container{
  display: flex;
  align-items: center;
}
.header-container h2{
  margin-left: 10px;
}
.header-container h4{
  font-weight: 400;
}
/*End Header */



/* Meme Section*/
.meme-container{
  background-color: white;
}
.meme-element-container{
  width: 600px;
  margin: auto;
}
.meme-input-container{
  display: flex;
  justify-content: space-between;
}
.meme-input-container input{
  padding: 15px;
  margin: 20px 0px;
  border: 2px solid rgb(195, 195, 195);
  border-radius: 10px;
  width: 42%;
}

.meme-button-container {
  padding-bottom: 20px;
}

.meme-button-container button{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: var(--purple-gradient);
  color: white;
  font-size: 1.2em;
}

/* End Meme Section*/

.image-container{
  border: 1px solid red;
  width: 90%;
  margin: auto;
}
.image-container img{
  max-width: 100%;
  margin: auto;
}